.tabB{
    width: 100vw;
	height: 48px;
	color: rgba(80, 80, 80, 1);
	background-color: rgba(245, 245, 245, 1);
	font-size: 14px;
	line-height: 150%;
	text-align: center;
    display: flex;
    flex-direction: row;
}
.tabB div{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.active{
    font-size: 25px;
    color: blue;
    border-bottom: 1px solid lightblue;
}