html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

.ant-layout {
  min-height:100% !important;
}

header.ant-layout-header {
  padding: 0 30px;
}

#root .ant-back-top {
  right: 20px;
}

.ant-form .ant-form-item-control-input-content>input,
.ant-form .ant-select {
  /* max-width: 240px; */
  border-radius:5px;
}
.ant-select {
  min-width: 6em;

}
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
  border-radius:5px;
}

.ant-typography {
  word-break: break-all;
}

.ZEleA-margin-left {
  margin-left: 12px;
}

.ZEleA-Breadcrumb-margin.ant-breadcrumb {
  margin: 12px 0;
}

.LeftCoverBreadcrumb{
  position: absolute;
  left: 30px;
  top: 10px;
}
.LeftCoverBreadcrumb a{
  color: white!important;
}
.LeftCoverBreadcrumb a:hover{
  color: #FFF9!important;
}
.LeftCoverBreadcrumb > span:last-child a,
.LeftCoverBreadcrumb > span:last-child span{
  color:#FFF8!important;
}

.ant-checkbox-wrapper {
  /* box-sizing: border-box; */
  width: 240px;
  /* margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  display: inline-flex;
  align-items: baseline;
  line-height: unset;
  cursor: pointer; */
}